/*toggleCss.css*/
.THIS .toggle {
    display: none;
}
.THIS .hide {
  display: none;
  opacity: 0;
  transition: all 0.5s ease-out;
}

.THIS .show {
  display: block;
  opacity: 1;
  transition: all 0.5s ease-in;
}

.THIS .disablediv {
  pointer-events: none;
  opacity: 0.4;
}