.THIS.oh-list-header-container {
    width: 100%;
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 2px solid #ddd;
}

.THIS.oh-list-header-container .oh-content {
    display: flex;
    flex: 0 0 100%;
    justify-content: flex-around;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
}

.THIS.oh-list-header-container .oh-content .oh-left span {
    margin-right: 8px;
}