.THIS.container {
  margin: 0 auto;
  padding: 0px;
}

.THIS .oh-buttons .slds-button {
    font-size:.75rem;
}

.THIS ::-webkit-scrollbar {
    display:none !important;
}

.THIS .slds-card.locations {
    min-height:500px;
}
/*
.THIS .pad-right {
    padding-right:12px;
}*/

.THIS .of-hidden {
    overflow:hidden;
}


.THIS .margin-top {
    margin-top:-1rem;
    width:100%;
}

.THIS .oh-margin-right {
    margin-right:12px;
}

.THIS .oh-margin-bottom {
    margin-bottom:12px;
}

.THIS .main-panel {
  transform: translate3d(0, 0, 0);
}

.THIS .no-flow {
  position: absolute !important;
  z-index: 2;
}

.THIS .icon-xx-small svg {
  width: 0.8rem !important;
  height: 0.8rem !important;
}

.THIS .small-head {
  font-size: 0.875rem;
}

.THIS .very-small-head {
  font-size: 0.75rem;
}

.THIS .side-panel {
}

.THIS .btn-add-location-disabled .bt-tooltip {
  position: absolute;
  margin-left: -100px;
  margin-top: 45px;
  display: none;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.5s, transform 0.25s !important;
}

.THIS .btn-add-location-disabled .bt-tooltip > p {
  padding: 10px;
}

.THIS .btn-add-location-disabled:hover .bt-tooltip {
  display: inline-block;
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.5s, transform 0.25s !important;
}