.THIS {
    overflow:hidden;
}

.THIS .rule-hover:hover {
   cursor:pointer; 
}

.THIS .rule-hover {
   max-width:85%; 
   width:85%;
    min-width:500px;
}

.THIS .ellipsis-button {
   position:absolute;
    width:2rem;
    top:20%;
    right:25px;
}


.THIS li {
    list-style:none;
}

.THIS * {
    box-sizing:border-box;
}
.THIS .slds-button p {
    margin:0;
    margin-top:-2rem;
    padding:0;
    line-height:85%;
}

.THIS .aiCircle {
    font-size:.6rem;
    text-transform:uppercase;
    color:grey;
    background:lightgrey;
    border-radius:50%;
    height:1.2rem;
    width:1.2rem;
    position:absolute;
    top:-5px;
    line-height:1.2rem;
    right:-2px;
    vertical-align:middle;
    text-align:center;
}

.THIS .grey svg {
    fill:lightgrey;
}

.THIS .red svg {
    fill:red;
}

.THIS .slds-button p.label-size {
    padding:0;
    margin:0;
    text-align:center;
    font-size:.7rem;
    color:lightgrey;
}

.THIS .icon-stack {
    display:flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items:center;
    text-align:center;
}

.THIS .card {
    min-height:1.8em;
    background:#FFF;
}

.THIS .slds-button, .THIS .slds-button i, .THIS .slds-button p {
    text-align:center;
}

.THIS .slds-button {
    padding-left:.5rem;
    padding-right:.5rem;
    min-width:6em;
}



.THIS .slds-media_figure {
    min-width:2.5em;
    justify-content:flex-end;
}

.THIS .label-size, .THIS .slds-form-element__label {
    font-size:.75rem;
    color:lightgrey;
}

.THIS .survey-item {
	margin: 0;
	padding: 2px 0;
	width:100%;
	position: relative;
    overflow:hidden;
    
}
.THIS .survey-card-container {
	width: 100%;
}

.THIS .card-front {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
    min-width:550px;
	padding: 5px;
	margin: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}

.THIS .card-back {
    opacity:1;
	position: absolute;
	top: 0;
	right: 0;
	width: 60%;
    min-width:350px;
	padding: 5px;
	margin: 0;
    margin-top:-5px;
    padding-left:10px;
    margin-right:-20px;
    padding-right:25px;
    background:#FFF;
    border-left:1px solid rgba(180,180,180,.3);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
    transform: translate(100em,0);
    transition:transform .4s;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
}


/*.THIS .survey-item.flip .card-front {
    -webkit-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
    }*/
.THIS .survey-item.flip .card-back {
	/*-webkit-transform: rotateY(0);
	transform: rotateY(0); animation:animateIn .8s;*/
	animation:animateIn .8s;
    transform:translate(0,0);
     /*  transition:transform .4s;*/   
}
.THIS .survey-item.flip-out .card-back {
    animation:animateOut .7s;
    transform: translate(100em,0);   
}

.THIS .number-box {
    background:#54698D;
    padding:.5rem;
    vertical-align:middle;
    text-align:center;
    color:#FFF;
    min-width:2rem;
    border-radius:.25rem;
    margin:0 .5rem;
    width:2rem;
}

.THIS .ghost {
    opacity:.3;
}

.THIS .draggin {
    opacity:1;
}
.THIS .question-title {
    color:#16325C;
    font-size:.77rem;
}

.THIS .question-type {
    color:grey;
    font-size:.7rem;
}
.THIS .child-group .tab {
    margin-left: 6em;
    border-left:1px solid #DDD;
}

.THIS .drop-container {
    margin-left:6em;
}

.THIS .slds-checkbox .slds-checkbox_faux, .THIS .slds-checkbox .slds-checkbox--faux {
    display: block;
}

.THIS .rule {
    color:#8B9AE3;
    font-size:.75rem;
}

.THIS .purple svg {
    fill:#8B9AE3;
}

.THIS .green {
    color:#4BCA81;
}

.THIS .oh-popover_container .oh-hidden {
    display:none;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: -9999;
    left: -999999px;
    left: -999vw;
    pointer-events: none;
}
.THIS .oh-popover_container {
    outline: none;
    display: inline-block;
    position: relative;
}
.THIS .st-popover__trigger {
    display: inline-block;
}

.THIS .oh-popover_container .slds-popover_tooltip {
    max-width:40rem;
    width:auto;
}

.THIS .oh-popover_container .slds-popover {
    width: 22rem !important;
    overflow:hidden;
    min-height:2.5rem;
}

@keyframes animateIn {
  
  0% {
   transform: translate(100em,0);
  }
  80% {
    transform: translate(-1em,0);
  }
  100% {
    transform: translate(0,0);
  }
}

@keyframes animateOut {
  
  0% {
   transform: translate(0,0);
  }
    10% {
         transform: translate(-1em,0);
    }
  100% {
    transform: translate(100em,0);
  }
}